.author {
  font-size: 12px;
  font-weight: bold;
}

.unread {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #cd9e4a;
  margin-left: 5px;
}
