{
    "swagger": "2.0",
    "info": {
        "title": "Weatherbit.io - Swagger UI Weather API documentation",
        "description": "This is the documentation for the Weatherbit Weather API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 5 day forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/3hourly?city=London`&`country=UK`. See our [Weather API description page](https://www.weatherbit.io/api) for additional documentation.",
        "version": "2.0.0"
    },
    "host": "api.weatherbit.io",
    "schemes": [
        "https",
        "http"
    ],
    "basePath": "/v2.0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/forecast/daily": {
            "get": {
                "summary": "Returns a daily forecast - Given City and/or State, Country.",
                "description": "Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n",
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Full name of state.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country Code (2 letter).",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Number of days to return. Default 16.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "units",
                        "in": "query",
                        "description": "Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>",
                        "required": false,
                        "enum":["S","I"],
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>",
                        "required": false,
                        "enum": ["ar", "az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"],
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "Wraps return in jsonp callback. Example - callback=func",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your registered API key.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "16 day / daily Forecast"
                ],
                "responses": {
                    "200": {
                        "description": "A forecast object.",
                        "schema": {
                            "$ref": "#/definitions/ForecastDay"
                        }
                    },
                    "default": {
                        "description": "No Data.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/forecast/hourly": {
            "get": {
                "summary": "Returns an 120 hour (hourly forecast) - Given City and/or State, Country.",
                "description": " Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n",
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Full name of state.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country Code (2 letter).",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "units",
                        "in": "query",
                        "description": "Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>",
                        "required": false,
                        "enum":["S","I"],
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>",
                        "required": false,
                        "enum": ["ar", "az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"],
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "Wraps return in jsonp callback. Example: callback=func",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "hours",
                        "in": "query",
                        "description": "Number of hours to return.",
                        "required": false,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your registered API key.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "120 hour / hourly Forecast"
                ],
                "responses": {
                    "200": {
                        "description": "A forecast object.",
                        "schema": {
                            "$ref": "#/definitions/ForecastHourly"
                        }
                    },
                    "default": {
                        "description": "No Data.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },

    "definitions": {
        "ForecastHour": {
            "type": "object",
            "properties": {
                "ts": {
                    "type": "number",
                    "description": "Unix Timestamp",
                    "example":"1551718800"
                },
                "timestamp_local": {
                    "type": "string",
                    "description": "Timestamp in local time",
                    "example":"2019-03-04T12:00:00"
                },
                "timestamp_utc": {
                    "type": "string",
                    "description": "Timestamp UTC",
                    "example":"2019-03-04T17:00:00"
                },
                "datetime": {
                    "type": "string",
                    "description": "Date in format \"YYYY-MM-DD:HH\". All datetime is in (UTC)",
                    "example":"2019-03-04:17"
                },
                "snow": {
                    "type": "number",
                    "description": "Accumulated snowfall since last forecast point - Default (mm)",
                    "example":10.45
                },
                "snow_depth": {
                    "type": "number",
                    "description": "Snow depth - Default (mm)",
                    "example":45
                },
                "snow6h": {
                    "type": "number",
                    "description": "6 hour accumulated snowfall. Default (mm)",
                    "example":140.87
                },
                "precip": {
                    "type": "number",
                    "description": "Accumulated precipitation since last forecast point. Default (mm)",
                    "example":1.1
                },
                "temp": {
                    "type": "number",
                    "description": "Temperature - Default (C)",
                    "example": -1.5
                },
                "dewpt": {
                    "type": "number",
                    "description": "Dewpoint - Default (C)",
                    "example":-4.0
                },
                "app_temp": {
                    "type": "number",
                    "description": "Apparent Temperature - Default (C)",
                    "example":4.5
                },
                "rh": {
                    "type": "integer",
                    "description": "Relative Humidity as a percentage (%)",
                    "example":95
                },
                "clouds": {
                    "type": "integer",
                    "description": "Cloud cover as a percentage (%)",
                    "example": 100
                },
                "weather": {
                    "type": "object",
                    "properties": {
                        "icon": {
                            "type": "string",
                            "description": "Icon code for forecast image display",
                            "example":"s02d"
                        },
                        "code": {
                            "type": "string",
                            "description": "Weather Condition code",
                            "example":"601"
                        },
                        "description": {
                            "type": "string",
                            "description": "Weather Condition description",
                            "example":"Snow"
                        }
                    }
                },
                "slp": {
                    "type": "number",
                    "description": "Mean Sea level pressure (mb)",
                    "example": 1012.89
                },
                "pres": {
                    "type": "number",
                    "description": "Pressure (mb)",
                    "example": 1005
                },
                "uv": {
                    "type": "number",
                    "description": "UV Index",
                    "example": 6.5
                },
                "solar_rad": {
                    "type": "number",
                    "description": "Estimated solar radiation (W/m^2)",
                    "example":300
                },
                "ghi": {
                    "type": "number",
                    "description": "Global horizontal solar irradiance (W/m^2)",
                    "example":1000
                },
                "dhi": {
                    "type": "number",
                    "description": "Diffuse normal solar irradiance (W/m^2)",
                    "example":200
                },
                "dni": {
                    "type": "number",
                    "description": "Direct normal solar irradiance (W/m^2)",
                    "example":400
                },
                "vis": {
                    "type": "number",
                    "description": "Visibility - Default (KM)",
                    "example": 1
                },
                "pod": {
                    "type": "string",
                    "description": "Part of day (d = day, n = night)",
                    "example":"d"
                },
                "pop": {
                    "type": "number",
                    "description": "Chance of Precipitation as a percentage (%)",
                    "example": 75
                },
                "wind_spd": {
                    "type": "number",
                    "description": "Wind Speed - Default (m/s)",
                    "example": 13.85
                },
                "wind_dir": {
                    "type": "integer",
                    "description": "Wind direction",
                    "example": 105
                },
                "wind_cdir": {
                    "type": "string",
                    "description": "Cardinal wind direction",
                    "example":"ENE"
                },
                "wind_cdir_full": {
                    "type": "string",
                    "description": "Cardinal wind direction (text)",
                    "example":"East-North-East"
                }
            }
        },
        "Forecast": {
            "type": "object",
            "properties": {
                "ts": {
                    "type": "number",
                    "description": "Unix Timestamp",
                    "example":"1551718800"
                },
                "timestamp_local": {
                    "type": "string",
                    "description": "Timestamp in local time",
                    "example":"2019-03-04T12:00:00"
                },
                "timestamp_utc": {
                    "type": "string",
                    "description": "Timestamp UTC",
                    "example":"2019-03-04T17:00:00"
                },
                "datetime": {
                    "type": "string",
                    "description": "Date in format \"YYYY-MM-DD:HH\". All datetime is in (UTC)",
                    "example":"2019-03-04:17"
                },
                "snow": {
                    "type": "number",
                    "description": "Accumulated snowfall since last forecast point - default (mm)",
                    "example": 10.45
                },
                "snow_depth": {
                    "type": "number",
                    "description": "Snow Depth - default (mm)",
                    "example": 45
                },
                "precip": {
                    "type": "number",
                    "description": "Accumulated precipitation since last forecast point - default (mm)",
                    "example": 1.1
                },
                "temp": {
                    "type": "number",
                    "description": "Temperature (Average) - default (C)",
                    "example": 1.0
                },
                "dewpt": {
                    "type": "number",
                    "description": "Dewpoint (Average) - default (C)",
                    "example": 1.0
                },
                "max_temp": {
                    "type": "number",
                    "description": "Maximum daily Temperature - default (C)",
                    "example": 1.5
                },
                "min_temp": {
                    "type": "number",
                    "description": "Minimum daily Temperature - default (C)",
                    "example": -1.23
                },
                "app_max_temp": {
                    "type": "number",
                    "description": "Apparent Maximum daily Temperature - default (C)",
                    "example": 4
                },
                "app_min_temp": {
                    "type": "number",
                    "description": "Apparent Minimum daily Temperature - default (C)",
                    "example": -2
                },
                "rh": {
                    "type": "integer",
                    "description": "Relative Humidity as a percentage (%)",
                    "example": 95
                },
                "clouds": {
                    "type": "integer",
                    "description": "Cloud cover as a percentage (%)",
                    "example": 100
                },
                "weather": {
                    "type": "object",
                    "properties": {
                        "icon": {
                            "type": "string",
                            "description": "Icon code for forecast image display",
                            "example":"s02n"
                        },
                        "code": {
                            "type": "string",
                            "description": "Weather Condition code",
                            "example":"601"
                        },
                        "description": {
                            "type": "string",
                            "description": "Weather Condition description",
                            "example":"Snow"
                        }
                    }
                },
                "slp": {
                    "type": "number",
                    "description": "Mean Sea level pressure (mb)",
                    "example": 1012.89
                },
                "pres": {
                    "type": "number",
                    "description": "Pressure (mb)",
                    "example": 1005
                },
                "uv": {
                    "type": "number",
                    "description": "UV Index",
                    "example":6.5
                },
                "max_dhi": {
                    "type": "number",
                    "description": "[Deprecated] Max direct component of solar insolation (W/m^2)",
                    "example":"655"
                },
                "vis": {
                    "type": "number",
                    "description": "Average Visibility default (KM)",
                    "example": 3.0
                },
                "pop": {
                    "type": "number",
                    "description": "Chance of Precipitation as a percentage (%)",
                    "example": 75
                },
                "moon_phase": {
                    "type": "number",
                    "description": "Moon phase",
                    "example": 0.87
                },
                "sunrise_ts": {
                    "type": "integer",
                    "description": "Sunrise unix timestamp",
                    "example": 1530331260
                },
                "sunset_ts": {
                    "type": "integer",
                    "description": "Sunset unix timestamp",
                    "example": 1530331260
                },
                "moonrise_ts": {
                    "type": "integer",
                    "description": "Moonrise unix timestamp",
                    "example": 1530331260
                },
                "moonset_ts": {
                    "type": "integer",
                    "description": "Moonset unix timestamp",
                    "example": 1530331260
                },
                "pod": {
                    "type": "string",
                    "description": "Part of the day (d = day, n = night)",
                    "example":"n"
                },
                "wind_spd": {
                    "type": "number",
                    "description": "Wind Speed (default m/s)",
                    "example": 13.85
                },
                "wind_dir": {
                    "type": "integer",
                    "description": "Wind direction",
                    "example": 105
                },
                "wind_cdir": {
                    "type": "string",
                    "description": "Cardinal wind direction",
                    "example":"ENE"
                },
                "wind_cdir_full": {
                    "type": "string",
                    "description": "Cardinal wind direction (text)",
                    "example":"East-North-East"
                }
            }
        },
        "ForecastDay": {
            "type": "object",
            "properties": {
                "city_name": {
                    "type": "string",
                    "description": "City Name",
                    "example":"Raleigh"
                },
                "state_code": {
                    "type": "string",
                    "description": "State Abbreviation",
                    "example":"NC"
                },
                "country_code": {
                    "type": "string",
                    "description": "Country Abbreviation",
                    "example":"US"
                },
                "lat": {
                    "type": "string",
                    "description": "Latitude",
                    "example":"38.25"
                },
                "lon": {
                    "type": "string",
                    "description": "Longitude",
                    "example":"-78.00"
                },
                "timezone": {
                    "type": "string",
                    "description": "Local IANA time zone",
                    "example":"America/New_York"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Forecast"
                    }
                }
            }
        },
        "ForecastHourly": {
            "type": "object",
            "properties": {
                "city_name": {
                    "type": "string",
                    "description": "City Name",
                    "example":"Raleigh"
                },
                "state_code": {
                    "type": "string",
                    "description": "State Abbreviation",
                    "example":"NC"
                },
                "country_code": {
                    "type": "string",
                    "description": "Country Abbreviation",
                    "example":"US"
                },
                "lat": {
                    "type": "string",
                    "description": "Latitude",
                    "example":"38.25"
                },
                "lon": {
                    "type": "string",
                    "description": "Longitude",
                    "example":"-78.00"
                },
                "timezone": {
                    "type": "string",
                    "description": "Local IANA time zone",
                    "example":"America/New_York"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ForecastHour"
                    }
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
